#root {
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  width: 100vw;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
}

.appbar {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: static;
  color: inherit;
  width: 100%;
  height: 60px;
}

.heading {
  color: rgba(0,183,255, 1);
  text-align: center;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  width: 2.5rem;
  aspect-ratio: 1/1;
  margin: 0 1.5rem;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: gray;
  color: black;
  padding: 0 40px;
  margin: 10px 5px;
}

button {
  border-radius: 15px;
  border: 1px solid black;
  font-size: large;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  box-shadow: 10px 10px 15px black;
  transition: box-shadow 0.3s ease-in-out;
}

button:disabled {
  cursor: default;
  box-shadow: none;
  transition: none;
  background-color: black !important;
  color: white !important;
}

.filters button {
  height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
}

.filters button:hover {
  background-color: darkblue;
  color: whitesmoke;
}

.growContainer {
  display: flex;
  margin: 0 5px;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 30%;
  margin: 0 10px;
  background-color: whitesmoke;
  color: black;
  border-radius: 15px;
  box-shadow: -4px 4px 5px gray;
}

.formTitle {
  font-size: larger;
  font-weight: 500;
}

form input {
  display: block;
  width: 95%;
  height: 50px;
  margin: 5px;
  padding: 0 10px;
  font-size: x-large;
  background-color: whitesmoke;
  color: black;
  border-radius: 15px;
}

form input:focus {
  border: 1px solid rgba(0,183,255, 1);
  box-shadow: 10px 10px 25px black;
  transition: box-shadow 0.3s ease-in-out;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.buttons button {
  width: 50%;
  padding: 10px 0;
}

.buttons button:nth-child(1) {
  background-color: blue;
}

.buttons button:nth-child(2) {
  background-color: red;
}

.gridContainer {
  display: grid;
  width: 70%;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 15px;
  position: relative;
  background-color: beige;
  color: black;
  box-shadow: 5px 5px 10px black;
  height: fit-content;
  background-repeat: no-repeat;
}

.cardImage {
  font-size: x-large;
  font-weight: 500;
  height: 200px;
  padding: 10px 10px;
  text-align: center;
  background-color: whitesmoke;
  color: black;
  border-radius: 15px 15px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardOptions {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.cardOptions:hover {
  box-shadow: none;
}

.title {
  font-size: large;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.message {
  font-size: medium;
  text-align: start;
  padding: 0 10px;
  font-weight: 500;
  width: 100%;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.creator {
  font-size: large;
  text-align: end;
  padding: 0 10px;
  font-weight: 500;
}

.cardTime {
  font-size: small;
  text-align: end;
  padding: 0 10px;
  font-weight: 500;
}

.cardTags {
  font-size: medium;
  text-align: start;
  padding: 0 10px;
  font-weight: 500;
  color: gray;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 10px 0;
  gap: 10px;
}

.cardFooter button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  background-color: transparent;
  font-size: small;
}

.authButton {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: inherit;
}

.authButton:hover {
  box-shadow: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.passwordField {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  padding: 5px 10px;
  background-color: blueviolet;
  color: aliceblue;
  text-decoration: none;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.avatar {
  background-color: black;
  color: white;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.avatar:hover {
  box-shadow: 10px 10px 15px black;
  transition: box-shadow 0.3s ease-in-out;
}

.userName {
  color: black;
}

.logout {
  background-color: red;
  color: white;
  padding: 5px 10px;
}

.paper {
  width: 30%;
  height: max-content;
  padding: 100px 0px;
  background-color: whitesmoke;
  color: black;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -4px 4px 5px gray;
}

@media screen and (max-width: 1220px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }

  .card {
    margin: auto;
    width: 95%;
  }
}

/* @media screen and (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    margin: auto;
  }

  .card {
    margin: auto;
    width: 80%;
  }
} */

@media screen and (max-width: 900px) {
  .growContainer {
    flex-direction: column-reverse;
  }

  .gridContainer {
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
  }

  .card {
    margin: auto;
    width: 80%;
  }

  .paper {
    width: 80%;
    margin: 10px auto;
    padding: 30px 0px;
  }

  form {
    width: 80%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 450px) {
  .heading {
    font-weight: 500;
    font-size: medium;
  }

  .mainImage {
    width: 1rem;
    aspect-ratio: 1/1;
    margin: 0 0.5rem;
  }

  .filters {
    justify-content: center;
  }

  .avatar {
    font-size: medium;
    padding: 3px 6px;
  }

  .logout {
    font-size: medium;
    padding: 3px 6px;
  }

  .paper {
    width: 80%;
    margin: 10px auto;
    padding: 30px;
  }
  
}
